name: Build Project
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["*"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Format Code
        run: |
          sudo apt-get install -y clang-format
          find . -regex '.*\.\(c\|cpp\|h\)$' -exec clang-format -i -style=file {} \;
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: make build
      - name: Test
        run: make test
